// Colors
$default: #000000;

// Some Reset

.otrosproyectos {
	display: flex;
	justify-content: center;
  align-items: center;
  overflow: hidden;
	font-family: 'Montserrat', sans-serif;
}

.containeracordeon{
	width: 600px;
	height: auto;
	padding: 0rem;
}

.close{
  text-shadow: none;
  color: white;
  font-size: 12pt;
  font-weight: normal;

  &:hover{
    color: white;
  }
}

// Change component color
@mixin states($color: $default) {
	color: rgba(255, 255, 255, 0.9);
	background: $color;

	&:hover {
    color: rgba(255, 255, 255, 0.6);
    
	}
	&:active {
		color: rgba(255, 255, 255, 0.9);   
	}
}

// Collapse / Expand Component
details {
	@include states($default);
	border: solid 0.1rem rgb(0, 0, 0);
  box-shadow: -2px -2px 5px 2px rgb(34, 33, 33);
	cursor: pointer;
	transition: background 0.3s;
	border-radius: 4px;
	min-height: 48px;
	max-height: 60px;
	transform-origin: top center;
	transform: rotate(0.1deg);
	transition: all 0.3s;

	::-webkit-details-marker {
		display: none;
	}

	+ details {
		margin-top: 10px;
	}

	p {
		color: #fefefe;
		line-height: 1.7;
		margin: 10px 0 0;
    padding: 0 20px 15px;
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif ;
	}



	// Square Style
	&.square {
		border-radius: 0;
	}

	&[open] {
		transition: all 0.6s;
		min-height: 100px;
		max-height: 1200px;
        padding-bottom: 1rem;
	}
}

summary {
	outline: none;
	font-size: 16px;
	padding: 13px;
	
	&:selection {
		background: transparent;
	}


	.close {
		display: none;
		
		[open] & {
			display: inline;
		}
	}

	.open {
		display: inline;

		[open] & {
			display: none;
		}
	}

	[open] & {
		display: inline;
	}

	&:after {
		margin-top: 2px;
		content: "➕";
		float: left;
		margin-right: 11px;
		text-align: center;
		font-size: 11px;
		
		[open] & {
			padding: 0 0 12px 0;
			content: "➖";
		}
	}
}

.proyecto_contenido{
  justify-content: center;
}

.descripciontexto{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 11pt;
    padding: 1rem;
    text-align:center;
    color: rgb(170, 170, 170);
}


.proyecto_contenido_tabla{
  text-align: center;

  h3{
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.15rem;
    font-size: 12pt;
    padding: 1rem;
	}
	
	a{
		img{
			width: 7rem;
    		height: 10rem;
    		padding-bottom: 3rem;
		}
	}
}

.carousel-item{
	
	img{
		height: 250px;
	}
}