/*botones index*/

.grupoboton{
    text-align: center;
    position: relative;
    top: 12%;
    font-family: 'Montserrat', sans-serif;
    opacity: 60%;
    
    

    button{
        height: 3rem;
        width: 15rem;
        background-color: black;
        font-size: 9pt !important; 
        margin-right: 1rem;
        letter-spacing: 0.1rem !important;
        font-weight: bold;

        a{
            color: white;
        }

        a:hover{
            text-decoration: none;
            color: white;
        }
    }

    button:hover{
        background-color: grey;
    }
}

.botones{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 0.1rem;
    opacity: 60%;
    height: 3rem;
    width: auto;
    background-color: black;
    align-self: center;
    color: white;

    a{
        color: white;
    }

    a:hover{
        text-decoration: none;
        color: white;
    }
}

.main_boton{
    justify-content: center;
    margin-top: 3rem;
}

.botonreferencia{
    @extend .grupoboton;
    top: 0rem;

}

.botonenviar{
    @extend .botoncontacto;
    font-size: 11pt;
    font-weight: bold;

}
