/*footer*/

.footer_texto {
    position: fixed;
    bottom: 0.5rem;
    background-color: transparent;
    height: 2.5rem;
    color: rgb(110, 110, 110);
    text-align: center;
    font-size: 8pt; 
}

.footer_redes{
    position: fixed;
    right: 1.2rem;
    bottom: 3rem;
    background-color: transparent;


    a{
        display: block;

        img{
            width: 3.5rem;
            height: 3.5rem;
            margin-bottom: 1.5rem;
        }
    }
}