/*servicios*/

.main_titulo{
    padding: 0rem;
    padding-right: 0rem;
    margin-right: 0px;
    margin-left: 0px;
    position: static;

}

.main_servicios {
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
}

.main_servicios_contenedor{
    border-radius: 5rem ;
    border: 0.2rem solid rgba(39, 39, 39, 0.349);
    box-shadow: 3px 4px 5px rgba(39, 39, 39, 0.349);
    background-image: url("imagenes/fondoservicios.png");
    display: inline-block;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    height: 16rem;

    img{
        height: 6rem;
	    width: 7rem;
        margin: 1rem;    
        filter: grayscale(100%);
    }

    :hover{
        filter: grayscale(0%);
    }


    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 10pt;
	    padding: 1rem;
	    letter-spacing: 0.1rem;
        text-align: center;
        color: rgb(102, 102, 102);
        margin-top: 1rem;
    }
}

/*contacto*/
.main_informacion{
    @extend .main_servicios
}

.main_informacion_formulario{
    text-align: center;
    margin-bottom: 5rem;
    height: auto;
}

.main_informacion_formulario_form{
    justify-content: center;
    height: auto;
	padding:2rem;
    margin-right: 5rem;
    background-image: url("imagenes/fondoservicios.png");
    border: 0.2rem solid rgba(61, 61, 61, 0.397);
    box-shadow: 3px 4px 5px rgba(39, 39, 39, 0.349);
    border-radius: 2rem;
    
    form{

        input{
            height: 46px;
            width: 80%;
            background: transparent;
            border: 1px solid #525151;
            font-size: 14px;
            color: #444444;
            padding-left: 2rem;
            margin-bottom: 1.5rem;

        }

        textarea{
            height: 140px;
            width: 80%;
            background: transparent;
            border: 1px solid  #525151;
            font-size: 14px;
            color: #444444;
            padding-top: 1rem;
            padding-left: 2rem;
            margin-bottom: 1rem;
            resize: none;
            color: #444444;

        }

    }
}


.main_informacion_personal{
    justify-content: center;
    height: auto;
    align-items: center;

    ul{
        height: auto;
        padding:2rem;
        color: rgb(170, 170, 170);
        font-size: 11pt;
        font-family:  'Montserrat', sans-serif;
        letter-spacing: 0.2rem;
        
        
        li{
            text-decoration: none;
            display: block;
            text-align: center;
            margin-top: 6rem;
            margin-bottom: 5rem;

            hr{
                width: 6%;
                background-color:rgb(170, 170, 170);
            }

            .telefono{
                width: 3rem;
                height: 4rem;    
            }

            .mapa{
                width: 4rem;
                height: 3rem;
            }

            .mail{
                width: 4rem;
                height: 3rem;
            }

            a{
                text-decoration:none;
                color: rgb(170, 170, 170);
            }

        }

    }
    
}

/*nosotros*/

.main_informacion_RB{
    background-image: url("imagenes/fondobody.png");
    border-top: solid white 0.1rem;
    border: solid white 0.1rem;
    height: auto;
    width: auto;
    text-align: center;
    padding: 0rem;
}

.main_informacion_RB_texto{ 
    padding-bottom:2rem;

    p{
        padding:2rem;
        text-align: center;
        font-size: 12pt;
        font-family:'Montserrat', sans-serif ;
        color: rgb(170, 170, 170);
        align-self: center;
    }

    .botoncontacto{
        border: 0.1rem solid white;
        font-size: 10pt;
        letter-spacing: 0.1rem;
        opacity: 60%;
        height: 3rem;
        width: auto;
        padding: auto;
        background-color: black;
    
        a{
            color: white;
            letter-spacing: 0.1rem;
        }
    
        a:hover{
            text-decoration: none;
            color: white;
        }
    
    }

    .botoncontacto:hover{
        background-color: grey;
    }
}

.main_informacion_RB_nico{
    position: relative;
    top: 4rem;
    width: 40%;
    margin-right: 0rem;

    img{
        height: 390px;
        width: 100%;
        display: block;
        margin:0rem;
    }

}

.overlaynico{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #dbdbdb94;
    overflow: hidden;
    width: 0rem;
    height: 395px;
    transition: .5s ease;
  }

.main_informacion_RB_nico:hover .overlaynico {
    width: 100%;

    p{
        text-align: center;
        font-family: 'Montserrat', sans-serif ;
        font-size: 11pt;
        padding:2rem;
        padding-top:10rem;
        font-weight: bold;
    }
  }


.main_informacion_RB_rami{
    position: relative;
    top: 4rem;
    padding:0rem;
    width: 50%;
    margin-right: 0rem;

    img{
        height: 390px;
        width: 100%;
        display: block;
        margin:0rem;
    }

}

.overlayrami{
    position: absolute;
    top:0;
    left: 100%;
    background-color: #dbdbdb94;
    overflow: hidden;
    width: 0;
    height: 395px;
    transition: .5s ease;
  }

.main_informacion_RB_rami:hover .overlayrami {
    width: 92%;
    left: 0;

    p{
        text-align: center;
        font-family: 'Montserrat', sans-serif ;
        font-size: 11pt;
        padding:2rem;
        padding-top:10rem;
        font-weight: bold;
    }
  }


/*proyectos*/

.main_main{
    justify-content: center;
}


.main_proyectos {
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: 4rem ;
    width: 100%;
}

.main_proyectos_contenedor{
    background-image: none;
    display: inline-block;
    text-align: center;
    height: auto;
    padding:0rem;
    
    h2{
        font-size: 8rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.1rem;
        font-weight: bold;
        -webkit-text-stroke: 0.1rem rgb(136, 136, 136);
        color: rgb(36, 31, 31);   
    }

    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 12pt;
	    padding: 1rem;
	    letter-spacing: 0.1rem;
        text-align: center;
        color: rgb(102, 102, 102);
    }
}

.main_otrosproyectos{
    width: 100%;
    height: auto;
    margin: 0rem;
    justify-content: center;
    margin-bottom: 4rem;
}


